*{
    margin: 0px;
    padding: 0px;
    border-bottom: 2px;
   
   }
   
   
   #home{
    
   background-color: black;
   color: white;
   height:100vh;
   width: 100vw;
   left: 0px;
   top: 87px;
   border-radius: 0px;
   
   }
   #nano{
   
       animation-name: sam;
       animation-duration:3sec;
   }
   @keyframes sam{
    50%{
     color: blueviolet;
    }
    50%{
     color: red;
    }
   }
   
   
   
   
   
   .text1{
    position: absolute;
   width: 20rem;
   height: 20rem;
   left: 20px;
   top: 100px;
   padding-top: 5px;
   justify-content: space-between;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 100px;
   line-height: 160px;
   
   }
   .img-about img{
    position: absolute;
    width: 20%;
    height: 30%;
    left: 600px;
    margin-top: 20rem;
   }
   .icon{
    height: 0px;
   
   border-radius: 180px;
   position: absolute;
   width: 100px;
   align-items: center;
   left: 550px;
   top: 610px;
   font-size: 100px;
   
   }
   
   
   
   .rec{
    position: absolute;
    background-color: black;
   height: 200px;
   left:45rem;
   top: 350px;
   
   }  
   .img{
    margin-left: 0;
    display: flex;
    flex-direction: column;
    padding-top:100px;
    width: 500px;
       
   }
   .text-img{
    display: flex;
    flex-direction: column;
    padding-top:100px;
   }
   .our{
    padding-top: 20%;
   
   }
    .wrapper{
     display: flex;
     justify-content: space-between;
     flex-wrap:wrap;
     max-width:auto;
     overflow-x: auto;
     padding-top: 5%;
    }
     
   
    .card{
      padding-top: 2px;
      padding-right:70px;
    }
    .card:hover{
     background-color: black;
     color:white;
     transition-duration:0.3s;
    }
     
   
   
   
   #Contactus{
    margin-top: 300px;
   background-color: black; 
    color: white;
    text-align: center;
    padding-bottom:25px;
    padding-top: 25px;
    width: 100%;
   }
   #btn{
    display: block;
    box-sizing: border-box;
    width: 150px;
    padding: 5px;
   }